.informationSection {
  display:flex;
  justify-content: center;
  width: 100%;
  padding: 35px 0 35px 0;
  border-top: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
}

.informationBlock {
  display: flex;
  width: 1200px;
  color: #ffffff;
}

@media only screen and (max-width: 1199px) {
  .informationSection {
    display: none;
  }
}