.blockTitles {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  font-size: 18px;
}

.blockProducts {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
}

.productBlockSize {
  width: 178px;
}

.descriptionBlockSize {
  width: 302px;
}

.quantityBlockSize {
  width: 300px;
  text-align: center;
}

.priceBlockSize {
  width: 218px;
  text-align: center;
}

.removeBlockSize {
  width: 116px;
  text-align: center;
}

.removeBlockSize > img {
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .blockTitles {
    width: 900px;
  }

  .quantityBlockSize {
    width: 100px;
  }
  
  .priceBlockSize {
    width: 168px;
  }
  
  .removeBlockSize {
    width: 66px;
  }
}

@media only screen and (max-width: 899px) {
  .blockTitles {
    display: none;
  }

  .blockProducts > div {
    margin-bottom: 20px;
  }

  .descriptionBlockSize {
    text-align: center;
  }

  .descriptionBlockSize > p {
    padding: 0;
    margin: 0;
  }
}