.additionalBlock {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.additionalTitle {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 22px;
  margin-bottom: 30px;
}

.additionalTitle > span {
  white-space: nowrap;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  border: none;
}

@media only screen and (max-width: 1199px) {
  .additionalBlock {
    width: 900px
  }
}

@media only screen and (max-width: 899px) {
  .additionalBlock {
    width: 600px
  }
}

@media only screen and (max-width: 599px) {
  .additionalBlock {
    width: 300px
  }

  hr {
    display: none;
  }

  .additionalTitle > span {
    margin: auto;
  }
}