.titleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-top: 35px;
  height: 76px;
  font-size: 22px;
}

.titleBlock.MrByMenu {
  margin-top: -5px;
}

.titleBlock > span {
  white-space: nowrap;
  padding: 0 17px 0 17px;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  border: none;
  margin: 0 15px 0 15px;
}

@media only screen and (max-width: 1199px) {
  .titleBlock {
    width: 900px;
  }
}

@media only screen and (max-width: 899px) {
  .titleBlock {
    width: 600px;
  }
}